<%- include('./partials/header') %>

  <body>
    <h1 class="pageTitle"><%= title %></h1>
    <a id="listKorean" href="/restaurants">Korean Restaurants</a>
  </body>
</html>

<%- include('./partials/footer') %>