
nav {
  background-color: rgba(107, 92, 107, 0.8);
  font-size: large;
  background-size: cover;
}

.eachCard {
  background-color: rgba(221, 192, 187, 0.3);
  border-color: solid black;
  padding: 15px;
}

body {
  padding:15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/KoreanFoodTopPic-e1560668314495.jpeg);
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color:rgb(64, 133, 224);
  font-size: smaller;
}

button {
  background-color: rgb(211, 70, 70);
  color: white;
  border-radius: 10%;
  border-style: none;
}

h1 {
  color: tomato;
}