<%- include('../partials/header') %>

<h2>Edit Restaurant Information</h2>
<form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
  <label> Restaurant Name: <input type="string" name="name" /> </label><br />
  <label> Address: <input type="string" name="address" /> </label><br />
  <label> Description: <input type="string" name="description" /> </label><br />
  <label>
    Parking Availablility: <input type="checkbox" name="parking" /> </label
  ><br />
  <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>
